[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libraries/toml11"]
	path = libraries/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "libraries/discord-rpc"]
	path = libraries/discord-rpc
	url = https://github.com/discord/discord-rpc/
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = https://github.com/Tencent/rapidjson
	branch = v1.1.0
[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/mumble-voip/minhook
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libraries/cpp-httplib"]
	path = libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
